html{
    font-size: 16px;
    font-family: 'Times New Roman'
}
body{ 
    background-image: url("/img/ver1.jpeg");
    background-size: cover; /* Adjust the size to your preference */
    background-repeat: no-repeat; /* Prevent image from repeating */
    background-attachment: fixed;
}
nav{
    background-color: #E6EBFF;
    display: flex;
    align-items: center;
    margin: 0;
    width:100%;
}

nav a{
    display:flex;
    align-items: center;
    margin: 20px;
    margin-left: 5%;
    text-decoration: none;
    color: #7A9771;
    position: relative;
    font-size: 25px;
}

nav img{
  margin-left: 3%;
  margin-right: 24%;
    height: 10rem;
    width: 10rem;
}

a h1:hover{
    color: #C0ECB2;
}

#tagline{
    display: grid;
    grid-template-columns:repeat(12, 1fr);
    grid-column-gap: 1.5rem;
    grid-auto-flow: dense;
    font-size: 50px;
    align-items: center;
    margin: 15rem;
    display: flex;
    flex-direction: column;
}
#tagline h1{
    color: antiquewhite;
    font-size: 80px;
}

#tagline h2{
    font-size: 60px;
    align-items: center;
    margin: auto;
    margin-bottom: 5rem;
    color: antiquewhite;
}

section{
    display: grid;
    grid-template-columns:repeat(12, 1fr);
    grid-column-gap: 1.5rem;
    grid-auto-flow: dense;
}

img:hover{
    opacity: 1;
    border: 1px dotted;
    border-radius: 4.625%;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    z-index: 5;
    scale: 1.1;
    transition:.15s ease;
    background-color: antiquewhite;
}

#proj_img1{
    float: left;
    width: 33.33%;
    padding:2%;
    margin-left: 5%;
    height: 45%;
    margin-top: 2%;
}

#title{
    margin-top: 20%;
    margin-left: 60%;
    margin-right: 20%;
    color: antiquewhite;
}

#description h2{
    color: antiquewhite;
    margin-left:50%;
    margin-top: 5%;
    margin-right: 10%;
}

#proj_img2{
    float: right;
    width: 33.33%;
    padding:2%;
    height: 45%;
    margin-top: 20%;
    margin-right: 5%;
}

#title2{
    margin-top: 30%;
    margin-left: 20%;
    margin-right: 50%;
    color: antiquewhite;
}

#description2 h2{
    color: antiquewhite;
    margin-right:50%;
    margin-top: 5% ;
    margin-left: 10%;
}

#proj_img3{
    float: left;
    width: 33.33%;
    padding:2%;
    margin-top: 20%;
    margin-left: 5%;
    height: 35%;
}

#title3{
    margin-top: 30%;
    margin-left: 60%;
    margin-right: 20%;
    color: antiquewhite;
}

#description3 h2{
    color: antiquewhite;
    margin-left:50%;
    margin-top: 5%;
    margin-right: 10%;
}

#proj_img4{
    float: right;
    width: 33.33%;
    padding:2%;
    height: 45%;
    margin-top: 15%;
    margin-right: 5%;
}

#title4{
    margin-top: 30%;
    margin-left: 20%;
    margin-right: 50%;
    color: antiquewhite;
}

#description4 h2{
    color: antiquewhite;
    margin-right:50%;
    margin-top: 5% ;
    margin-left: 10%;
}

#proj_img5{
    float: left;
    width: 33.33%;
    padding:2%;
    margin-top: 20%;
    margin-left: 5%;
    height: 35%;
}

#title5{
    margin-top: 30%;
    margin-left: 60%;
    margin-right: 20%;
    color: antiquewhite;
}

#description5 h2{
    color: antiquewhite;
    margin-left:50%;
    margin-top: 5%;
    margin-right: 10%;
}
#title5:hover,
#title4:hover,
#title3:hover,
#title2:hover,
#title:hover{
    color:#C0ECB2
}
footer{
    align-items: center;
    display: flex;
    margin-top: 20%;
}
footer h2{
  font-size: 30px;

}

footer h2:hover{
  color: #C0ECB2;
}

footer a{
    text-decoration: none;
    color: antiquewhite;
    margin: auto;

}

#about{
    color: antiquewhite;
    font-size: 30px;
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: column;
}
#about_img{
    margin-top: 5%;
    float:left;
    margin-left:5%;
}
#desc{
    text-decoration: none;
    color: antiquewhite;
    margin-left:55rem;
    margin-top: 10rem ;
    margin-right: 10rem;
    margin-bottom: 30%;
}

#contact{
    color: antiquewhite;
    font-size: 30px;
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: column;
}

main h2{
    color: antiquewhite;
    margin: auto;
}
input, textarea {
    background-color: white;
    border: 3px dotted #C0ECB2;
    color: antiquewhite; font-size: 20px;
    width: 60%;
    padding: 8px 16px 8px 16px;
}

label{
    font-size: 25px;
    color: antiquewhite;
    display: block;
    margin: 16px 0px 16px 0px;
}

textarea{
    height: 320px;
}

button {
    background-color: #C0ECB2;
    border: none;
    font-size: 20px;
    font-family: 'Sarabun', sans-serif; padding: 8px 16px 8px 16px;
}

input:focus, textarea:focus{
    border: 2px solid;
}

.body1 {
    min-height: 10%;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

#arctext{
  margin-left: 43%;
  margin-right: 30%;
  color: antiquewhite;
}

.container img {
    width: 450px;
    height: 300px;
    margin: 10px;
    border: 10px solid #fefae0;
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
    transition-duration: 1s;
}

.container img:hover {
    border: 5px solid #fff;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-filter: none;
    filter: none;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}