html{
    font-size: 16px;
}

nav{
    background-color: pink;
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-left: 0;
    padding: 0;
    margin: 0;
    border: #000 solid 1px;
    
}

nav a{
    display:flex;
    align-items: center;
    margin: 20px;
    margin-left: 40px;
    text-decoration: none;
    color: firebrick;
    position: relative;
    font-size: 20px;
}

nav img{
    margin-left: 29rem;
    height: 100px;
    width: 100px;
}

a h1:hover{
    color: antiquewhite;
}

nav .selected{
    color: blue;
}

body{
    background-color: darkred;
}

#tagline{
    display: grid;
    grid-template-columns:repeat(12, 1fr);
    grid-column-gap: 1.5rem;
    grid-auto-flow: dense;
    font-size: 50px;
    align-items: center;
    margin: 15rem;
    display: flex;
    flex-direction: column;
}
#tagline h1{
    color: antiquewhite;
    font-size: 80px;
}

#tagline h2{
    font-size: 60px;
    align-items: center;
    margin: auto;
    margin-bottom: 5rem;
    color: blanchedalmond;
}

section{
    display: grid;
    grid-template-columns:repeat(12, 1fr);
    grid-column-gap: 1.5rem;
    grid-auto-flow: dense;
}

section h3{
    border: black 2px solid;
    align-items: center;
    display: flex;
    margin: auto;
    font-size: 30px;
    grid-column: span;

}

img:hover{
    opacity: 1;
    border: 1px dotted;
    border-radius: 4.625rem;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    z-index: 5;
    scale: 1.1;
    transition:.15s ease;
    background-color: pink;
}

#proj_img1{
    float: left;
    width: 33.33%;
    padding:2rem;
    grid-column:1/6;
    margin-left: 5rem;
}

#proj_img1 img{
    height: 40rem;
    grid-column:1/6;
}

#title{
    margin-top: 20rem;
    margin-left: 70rem;
    margin-right: 20rem;
    color: bisque;
}

#description h2{
    text-decoration: none;
    color: antiquewhite;
    margin-left:55rem;
    margin-top: 5rem ;
    margin-right: 10rem;
}

#proj_img2{
    float: right;
    width: 33.33%;
    padding:2rem;
    grid-column:7/12;
    height: 45rem;
    margin-top: 20rem;
    margin-right: 5rem;
}

#title2{
    margin-top: 30rem;
    margin-left: 25rem;
    margin-right: 55rem;
    color: bisque;
}

#description2 h2{
    text-decoration: none;
    color: antiquewhite;
    margin-right:55rem;
    margin-top: 5rem ;
    margin-left: 10rem;
}

#proj_img3{
    float: left;
    width: 33.33%;
    padding:2rem;
    margin-top: 20rem;
    margin-left: 5rem;
}

#proj_img3 img{
    height: 35rem;
}

#title3{
    margin-top: 30rem;
    margin-left: 70rem;
    margin-right: 20rem;
    color: bisque;
}

#description3 h2{
    text-decoration: none;
    color: antiquewhite;
    margin-left:55rem;
    margin-top: 5rem ;
    margin-right: 10rem;
}

#proj_img4{
    float: right;
    width: 33.33%;
    padding:2rem;
    height: 45rem;
    margin-top: 25rem;
    margin-right: 5rem;
}

#title4{
    margin-top: 35rem;
    margin-left: 25rem;
    margin-right: 55rem;
    color: bisque;
}

#description4 h2{
    text-decoration: none;
    color: antiquewhite;
    margin-right:55rem;
    margin-top: 5rem ;
    margin-left: 10rem;
}

#proj_img5{
    float: left;
    width: 33.33%;
    padding:2rem;
    margin-top: 20rem;
    margin-left: 5rem;
}

#proj_img5 img{
    height: 35rem;
}

#title5{
    margin-top: 30rem;
    margin-left: 70rem;
    margin-right: 20rem;
    color: bisque;
}

#description5 h2{
    text-decoration: none;
    color: antiquewhite;
    margin-left:55rem;
    margin-top: 5rem ;
    margin-right: 10rem;
}

footer{
    align-items: center;
    border: #000 solid;
    background-color: lightpink;
    display: flex;
    flex-direction: column;
    margin-top: 30rem;
}

footer a{
    text-decoration: none;
    color: darkred;

}

footer a:hover{
    color: antiquewhite;
}

footer h2{
    font-size: 40px;
    color: antiquewhite;
}

#about{
    color: lightpink;
    font-size: 30px;
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: column;
}
#about_img{
    margin-top: 5rem;
    float:left;
    margin-left:5rem;
    margin-bottom: 5rem;
}
#desc{
    text-decoration: none;
    color: antiquewhite;
    margin-left:55rem;
    margin-top: 10rem ;
    margin-right: 10rem;
}

#contact{
    color: lightpink;
    font-size: 30px;
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: column;
}

main h2{
    color: antiquewhite;
    margin: auto;
}
input, textarea {
    background-color: darkred;
    border: 2px dotted lightpink;
    color: antiquewhite; font-size: 20px;
    width: 100%;
    padding: 8px 16px 8px 16px;
}

label{
    display: block;
    margin: 16px 0px 16px 0px;
}

textarea{
    height: 320px;
}

button {
    background-color: pink;
    border: none;
    font-size: 20px;
    font-family: 'Sarabun', sans-serif; padding: 8px 16px 8px 16px;
}

input:focus, textarea:focus{
    border: 2px solid darkred;
}
